.List__item {
    padding: 10px 20px;
    box-sizing: border-box;
    
    border: 1px solid #CBDFEC;

    background-color: #FFF;

    color: #28485E;
    text-align: center;
}

.Item__list__title {
    line-height: 26px;
    margin-bottom: 0;
}

.Item__list__meta {
    margin-top: 10px;
}

.List__item__figure img {
    max-width: 100%;
}

.List__item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    .List__item__figure {
        min-width: 130px;
        width: 130px;
        margin-right: 0;
    }
    
    .List__item a {
        flex-direction: row;
        text-align: left;
    }
}

@media screen and (min-width: 960px) {
    .List__item:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .List__item:nth-child(6) {
        grid-column: 2;
        grid-row: 3 / span 2;
    }

    .List__item:nth-child(1) .List__item__figure,
    .List__item:nth-child(6) .List__item__figure {
        width: auto;
        margin: 0;
        margin-top: 55px;
    }

    .List__item:nth-child(1) a,
    .List__item:nth-child(6) a {
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
    }
}