body {
  margin: 0;
  padding: 0;
  
  background: #EFF4F7 url('img/bg.png') no-repeat center top;
  background-size: cover;
  
  font-family: 'Maven Pro', sans-serif;

}

.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}